*{padding:0;margin:0;}
a{
  text-decoration: none;
  color:black;
}
p{color:white;}
.Products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.Products .product{
  width:250px;
  background: black;
  text-align: center;
}
.Products .product .Image{
  height:200px;
  width:90%;
  margin: auto;
  background: yellow;
}
.product .Image img{
  width:100%;
  height: 100%;
}
.product .Info {
  text-align: center;
}
.product .Info h1,
.product .Info h5
{color:white;}
/*Footer*/
footer{
  background:lightblue ;
}
footer {
  display: flex;
  justify-content: space-between;
}
footer h1{
  color:white;
  font-weight: normal;
}

footer a{
  text-decoration: none;
  color:white;
}
footer hr{
  color:blue;
}
footer ul,footer div{
  list-style:none;
  display: inline-block;
  width:25%;
  vertical-align: middle;
}
footer div .social-links a{
  display: block;
}
footer a{
display: block;
}
footer a,footer li{
  text-transform: uppercase;
  margin: 10px;
}header{
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header ul li{
  display: inline;
}
header ul{
  list-style: none;
}
header a{
  text-decoration: none;
  color:black;
}
header ul, header h1{
  display: inline-block;
}
header ul li{
  text-transform: uppercase;
  margin:0 10px;
}


header .dexiem{
  text-align: right;
}
